html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0074e4;
    color: #fff;
}

.btn-primary {
    background-color: #0064d2;
}

.btn-danger {
    background-color: #d20000;
}
