@model ProductManagementSystem.Models.Product

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h3 class="m-5">Create</h3>

    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Create" asp-controller="Products" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Product Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuantityInStock" class="control-label">Quantity In Stock</label>
                    <input asp-for="QuantityInStock" class="form-control" />
                    <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsAvailable" class="control-label">Is Available</label>
                    <input asp-for="IsAvailable" class="form-control" disabled />
                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>

</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>
